root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{sh,husky}]
end_of_line = lf

[*.{png,jpg,ico,db,db-shm,db-wal}]
insert_final_newline = false
